*{
  margin: 0;
  padding: 0;
  font-family: 'Wix Madefor Display', sans-serif;
}
html,
body{
  width:100%;
  overflow-x:hidden;
}
.header{
  min-height: 100vh;
  width: 100%;
  background-color: #fde7f9;
  background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
  background-size: cover;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 85px;
  position: relative;
  margin-top: -15px;
  margin-left: 35px;
}
.nav-links{
  display: flex;
  text-align: right;
  justify-content: space-between;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  margin-bottom: 0px;
}
.nav-links ul {
  padding-left: 0px;
  padding-bottom: 0px;
}
.nav-links ul li a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 15px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #0a7cff;
  display: block;
  margin: auto;
  transition: 0.3s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
nav .fa-solid{
  display: none;
}
.col-lg-6 {
  line-height: 1.3;
  margin-top: -30px;
}
.col-lg-6 img {
  width: 500px;
  margin-top: -45px;
  transform: translateX(60px);
}
.col-lg-6 h1{
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}
.col-lg-6 p{
  font-size: 32px;
}
.col-lg-6 p1{
  font-size: 24px;
  display: inline;
}
.col-lg-6 p2{
  font-size: 30px;
  display: inline;
} 
.container-fluid {
  padding: 2% 9%;

}
@media (max-width:990px){
  .col-lg-6 img {
    position: static;
    margin-top: 40px;
  }
  .container-fluid {
    text-align: center;
  }
}
@media(max-width: 768px){
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .col-lg-6 h1{
    font-size: 40px;
    margin-top: 30px;
  }
  .col-lg-6 p1{
      font-size: 20px;
  }
  .col-lg-6 p2{
      font-size: 20px;
  }
  .nav-links ul li{
      padding: 0px;
      margin-bottom: 20px;
  }
  .nav-links ul li a{
    font-size: 20px;
    font-family: sans-serif;
  }
  nav img {
    width: 50px;
    margin-top: 20px;
    margin-left: 10px;
  }
  .nav-links{
      position: fixed;
      background: #ffffff;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 0.7s;
  }
  nav .fa-solid{
      display: block;
      color: #000000;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
  }
  .nav-links ul{
      padding: 30px;
      margin-top: 60px;
      transform: translateX(-40px);
  }
  .col-lg-6 img{
      width: 320px;
      margin-top: 40px;
      
  }
  .fa-xmark {
    padding: 20px 0 0 10px;
    transform: translateX(150px);
  }
  .header{
      width: relative;
  }
  .col-lg-6 p1{
      word-break: unset;
  }
  .footer {
      height: auto;
  }
}

/*----- omniscient ------*/

.omniscient{
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 80px 0 50px 0;
}
.omniscient h1{
  font-size: 36px;
  font-weight: 700;
}
.omniscient p{
  width: 70%;
  margin: 0 auto;
  color: black;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.3;
  padding: 10px;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.row p{
  font-size: 15px;
  width: 100%;
}
.col-lg-4 p {
  width: 70%;
}
.col-lg-4 {
  flex-basis: 31%;
  background-color: #fde7f9;
  background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.3s;
}
h3{
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  margin: 10px 0;
}
.col-lg-4:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
}

@media(max-width: 768px){
  .row{
      flex-direction: column;
  }
  .omniscient p {
    width: 100%;
  }
}

/*----- Explore ------*/

.Explore{
    background-color: #fde7f9;
    background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 80px 0 50px 0;
}
#explore {
    width: 80%;
    margin: 0 auto;
}
.Explore h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}
.Explore p{
  width: 70%;
  margin: 0 auto;
  color: black;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.3;
  padding: 10px;
  margin-bottom: 50px;
}
.productivity-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.productivity-col img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.productivity-col{
    flex-basis: 31%;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.3s;
}
.productivity-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
}
.productivity-col p{
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    color: black;
    margin-top: 25px;
    margin-bottom: 0px;
}
a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}
a:hover {
  color: #0a7cff;
}

@media (max-width: 768px){
  .Explore p {
    width: 100%;
  }
}

/*----- BookSummaries ------*/ 

.BookSummaries{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  cursor: pointer;
}
.BookSummaries h1{
  font-size: 36px;
  font-weight: 600;
}
.booksummaries{
  flex-basis: 31%;
  margin-bottom: 5%;
  cursor: pointer;
}
.bookcoverimages {
  margin-bottom: 20px;
}
.image {
  height: auto;
  margin-right: 20px;
}
.booksummaries h3{
  margin-top: 16px;
  margin-bottom: 15px;
}
.booksummaries p {
  font-size: 16px;
}
.booksummaries{
  background-color: #fde7f9;
  background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
  flex-basis: 31%;
  margin-bottom: 5%;
  border-radius: 10px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.3s;
}
.booksummaries:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
}

/*----- Footer ------*/
.footer{
  width: 100%;
  background-color: #fde7f9;
  background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
  padding: 20px 0 30px;
  display: flex;
  font-size: 13px;
  line-height: 20px;
}
.footerrow{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.footercol1{
  flex-basis: 25%;
  padding: 10px;
  color: black;
  text-align: left;
}
.footercol, .footercol2{
  flex-basis: 22%;
  padding: 10px;
  text-align: center;
  margin-left: -80px;
}
.footercol h3, .footercol2 h3{
  font-size: 24px;
  text-align: center;
}
.footercol li {
  text-align: center;
  margin: 18px;
  margin-right: 46px;
}
.footer img{
  width: 100px;
}
ul li{
  list-style: none;
  margin-bottom: 12px;
}
ul li a{
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 500;
}
.fa-brands {
  text-align: center;
  font-size: 38px;
  margin-right: 40px;
  margin-top: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.fa-brands:hover {
  transform: translateY(-15px);
}
hr {
  width: 110%;
  border: 0;
  border-bottom: 1px solid black;
  margin: 20px auto;
}
div .copyright {
  margin: 0 auto;
}

@media (max-width: 768px){
  .footerrow {
   overflow-x: hidden;
   width: 100%;
  }

  .footercol1 {
    flex-basis: 100%;
  }
  .footercol1 p{
    font-size: 16px;
  }
  .fa-brands {
    margin-top: 20px;
    margin-left: 30px;
  }
  .footer img {
    width: 54px;
  }
  .footercol, .footercol2 {
    display: none;
  }

}
@media (max-width: 768px){
  .social-icons {
    margin: auto;
  }
}